@media (min-width: 769px) {
  .banner-wrapper {
    left: -15vw;
  }  
}
@media (max-width: 768px) {
  .banner-wrapper {
    left: -10px;
  }  
}
.banner-wrapper {
  position: relative;
  width: calc(100vw - 17px); /* 17px is the width of the vertical scrollbar */
}
.banner-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}