@media (min-width: 769px) {
  .banner-inner {
    left: -15vw;
  }  
}
@media (max-width: 768px) {
  .banner-inner {
    left: -10px;
  }  
}
.banner-wrapper {
  position: relative;
}
.banner-inner {
  position: absolute;
  width: 100vw;
  height: 100%;
}