.articles-container {
  padding: 10px;
  margin-bottom: 20px;
}
.gainers-and-losers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.topgainers-container {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.date-header {
  font-size: 2rem;
}
.index-table-row {
  cursor: pointer;
}
.index-table-row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}