.styled-table-container {
  display: inline-block;
  box-shadow: 0 0 10px 5px rgba(1,1,1,0.1);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(rgba(64,198,255, 0.8), rgba(0,0,0, 0.0) 10%);
}
.styled-table caption {
  font-size: 1.3rem;
  margin-bottom: 5px;
}
.styled-table th {
  background-color: rgba(255,255,255, 0.6);
}
.styled-table td, .styled-table th{
  padding: 5px 10px;
  font-size: 0.9rem;
}
.styled-table th {
  font-weight: bold;
}